<?php

return [
	/* Size of the grid */
	'size'     => 50,
	/* How many ticks in total */
	'ticks'    => 10000,
	/* How many ticks per second */
	'tickSecs' => 0.05,
	/* Initial seed pattern. Using R-pentomino here. */
	'seed'     => [
		[ 1, 2 ],
		[ 1, 3 ],
		[ 2, 1 ],
		[ 2, 2 ],
		[ 3, 2 ],
	],
];
